body.noscroll {
    overflow: hidden;
}
.subcategory{
    border:1px solid green;
}
.filter{
    border:1px solid red;

}
.product-icons ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.product-icons .product-icon {
    position: relative;
    list-style-type: none;
    padding: 5px;
}

.product-icons .product-icon .product-icon-image {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

.product-icons .product-icon .product-icon-title {
    height: 30px;
    text-align: center;
}

.product-icons-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    visibility: hidden;
    transition: 0.5s all;
    z-index: 99999;
}

.product-icons-popup.center-vertical {
    justify-content: center;
}

.product-icons-popup.active {
    opacity: 1;
    overflow-y: scroll;
    visibility: visible;
    transition: 1s visibility, 1s opacity;
}

.product-icons-popup.active .product-icons-popup-wrapper {
    margin-top: 0px;
    transition: 1s all;
}

.product-icons-popup .product-icons-popup-close {
    font-size: 32px;
    text-align: right;
    padding: 15px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 15px;
}

.product-icons-popup .product-icons-popup-close:focus {
    outline: none;
}

.product-icons-popup .product-icons-popup-wrapper {
    margin-top: -200%;
    transition: 1s all;
    background-color: #fff;
    padding: 15px;
    color: #000;
    position: relative;
}

@media (min-width: 768px) {
    .product-icons-popup .product-icons-popup-wrapper {
        width: 80%;
    }
}

.product-icons-popup .product-icons-popup-content img {
    max-width: 100%;
    height: auto;
}

.block_projects {
    overflow: hidden;
    padding-bottom: 25px;
}

.block_projects .block_title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #09397d;
    padding-bottom: 10px;
}

.block_projects .views_row {
    float: left;
    width: 24.2%;
    margin: 0 12px 12px 0;
    position: relative;
}

.block_projects .views_row img {
    display: block;
}

.block_projects .views_row.last {
    float: right;
    margin-right: 0;
}

.block_projects .views_row.big {
    width: 32.6%;
}

.block_projects .views_row.think {
    float: none;
    width: 100%;
}

.block_projects .views_row .title_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 68px;
    width: 100%;
    background: url(/../assets/title_bg2.png) repeat-x scroll 0 0 transparent;
    color: #fff;
    padding: 35px 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block_projects .views_row .title_wrap .title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
}

.block_projects .views_row .title_wrap .view_more {
    display: inline-block;
    float: right;
    padding: 0 18px;
    line-height: 21px;
    border-radius: 10.5px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #a8b2b5;
    cursor: pointer;
    transition: 0.3s;
}

.block_projects .views_row .title_wrap .view_more:hover {
    background: #a8b2b5;
}

.block_projects .group_item {
    width: 32.6%;
    float: left;
    margin-right: 12px;
}

.block_projects .group_wrap {
    float: left;
    width: 100%;
}

.block_projects .block_content {
    height: 201px;
    overflow: hidden;
}

.block_projects .block_content.active {
    height: auto;
}

.block_projects .block_footer {
    text-align: center;
}

.block_projects .block_footer .form_submit {
    display: inline-block;
    height: 48px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    background: #09397d;
    border-radius: 24px;
    border: none;
    padding: 0 110px;
    line-height: 48px;
    cursor: pointer;
    transition: 0.4s;
    margin: 10px 0;
}

.block_projects .block_footer .form_submit:hover {
    background: #102646;
}

.block_projects .block_footer .form_submit span {
    font-family: 'FontAwesome';
    display: inline-block;
    padding-right: 10px;
}

.block_projects .block_footer .form_submit.active {
    overflow: hidden;
    opacity: 0;
    height: 0;
}

/*# sourceMappingURL=bundlepicker.css.map */
