$image-width: 100px;
$image-height: 100px;
$title-height: 30px;

// Extra small screen / phone
$screen-xs: 480px !default;
$screen-phone: $screen-xs !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-tablet: $screen-sm !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-desktop: $screen-md !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-desktop: $screen-lg !default;

body.noscroll {
    overflow: hidden;
}

.product-icons {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
    }

    .product-icon {
        position: relative;
        list-style-type: none;

        // /border: 1px solid #333;
        padding: 5px;

        .product-icon-image {
            height: $image-height;
            width: $image-width;
            display: block;
            margin: auto;
        }

        .product-icon-title {
            height: $title-height;
            text-align: center;
        }
    }
}

.product-icons-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    visibility: hidden;
    transition: 0.5s all;
    z-index: 99999;

    &.center-vertical {
        justify-content: center;
    }

    // because we need to have this on TOP

    &.active {
        opacity: 1;
        overflow-y: scroll;
        visibility: visible;
        transition: 1s visibility, 1s opacity;

        .product-icons-popup-wrapper {
            margin-top: 0px;
            transition: 1s all;
        }
    }

    .product-icons-popup-close {
        font-size: 32px;
        text-align: right;
        padding: 15px;
        padding: 0px;
        border: 0px;
        background-color: transparent;
        position: absolute;
        right: 15px;
        top: 15px;

        &:focus {
            outline: none;
        }
    }

    .product-icons-popup-wrapper {
        margin-top: -200%;
        transition: 1s all;
        background-color: #fff;
        padding: 15px;
        color: #000;
        position: relative;

        @media (min-width: $screen-sm) {
            width: 80%;
        }
    }

    .product-icons-popup-content {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
@mixin block_title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #09397d;
    padding-bottom: 10px;
}
@mixin form_submit{
    display: inline-block;
    height: 48px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    background: #09397d;
    border-radius: 24px;
    border: none;
}
.block_projects{
    overflow: hidden;
    padding-bottom: 25px;
    .block_title{
        @include block_title;
    }
    .views_row{
        float: left;
        width: 24.2%;
        margin: 0 12px 12px 0;
        position: relative;
        img{
            display: block;
        }
        &.last{
            float: right;
            margin-right: 0;
        }
        &.big{
            width: 32.6%;
        }
        &.think{
            float: none;
            width: 100%;
        }
        .title_wrap{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 68px;
            width: 100%;
            background: url(/../assets/title_bg2.png) repeat-x scroll 0 0 transparent;
            color: #fff;
            padding: 35px 10px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .title{
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                float: left;
            }
            .view_more{
                display: inline-block;
                float: right;
                padding: 0 18px;
                line-height: 21px;
                border-radius: 10.5px;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                border: 1px solid #a8b2b5;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    background: #a8b2b5;
                }
            }
        }
    }
    .group_item{
        width: 32.6%;
        float: left;
        margin-right: 12px;
    }
    .group_wrap{
        float: left;
        width: 100%;
    }
    .block_content{
        height: 201px;
        overflow: hidden;
        &.active{
            height: auto;
        }
    }
    .block_footer{
        text-align: center;
        .form_submit{
            @include form_submit;
            padding: 0 110px;
            line-height: 48px;
            cursor: pointer;
            transition: 0.4s;
            margin: 10px 0;
            &:hover{
                background: #102646;
            }
            span{
                font-family: 'FontAwesome';
                display: inline-block;
                padding-right: 10px;
            }
            &.active{
                overflow: hidden;
                opacity: 0;
                height: 0;
            }
        }
    }
}